<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My test page</title>
</head>
<body>
    <div id="google-login">
        <button v-on:click="login">google登入</button>
    </div>
    <script src="~/js/login.js" asp-append-version="true"></script>
    <script>


    </script>

</body>
</html>