@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div id="title">
        <h1>Hello World</h1>
    </div>
    <div id="logout-button">
        <button v-on:click="logout">登出</button>
    </div>

    <script>
        var provider = new firebase.auth.GoogleAuthProvider();

        var app = new Vue({
            el: '#logout-button',
            methods:
            {
                logout: function () {
                    firebase.auth().signOut().then(function () {
                        // Sign-out successful.
                    }).catch(function (error) {
                        // An error happened.
                    });
                }
            }
        });

        firebase.auth().onAuthStateChanged(function (user)
        {
            if (user)
            {
                // User is signed in.
                console.log("Uid:" + user.uid);
                console.log("DisplayName:" + user.displayName);
                console.log("Email:" + user.email);
                console.log("EmailVerified:" + user.emailVerified);
                console.log("PhotoURL:" + user.photoURL);
                console.log("IsAnonymous:" + user.isAnonymous);
                console.log("ProviderData:" + user.providerData);
                var userData =
                {
                    Uid : user.uid,
                    DisplayName : user.displayName,
                    Email : user.email,
                    EmailVerified : user.emailVerified,
                    PhotoURL : user.photoURL,
                    IsAnonymous : user.isAnonymous,
                    ProviderData : user.providerData
                }

                console.log("response:" + postData(window.location.origin + "/api/auth", userData));
            }
            else
            {               
                location.href = window.location.origin+'/login';
            }
        });

        function postData(url, data)
        {
          // Default options are marked with *
          return fetch(url, {
            body: JSON.stringify(data), // must match 'Content-Type' header
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, same-origin, *omit
            headers: {
              'user-agent': '878787',
              'content-type': 'application/json'
            },
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, cors, *same-origin
            redirect: 'follow', // manual, *follow, error
            referrer: 'no-referrer', // *client, no-referrer
          })
          .then(response => response.json()) // 輸出成 json
        }

    </script>
</body>
</html>